.topic-row {
  background-color: rgb(91, 192, 222);
  color: white;
  border-top: 3px solid #CCC;
}

.speed {
  margin: 25px 0;
 }

.speed .label {
  font-size: 30px;
 }

.speed .label .small {
  font-size: 10px;
 }

.speed .label strong {
  margin: 0 10px;
 }

.speed .label .glyphicon {
  margin-left: 5px;
}

.speed .label small {
font-size: 10px;
color: lightblue;
 }

 /*end of segment*/

 /*Nav Bar CSS*/

.navbar-default {
  background-color: #797a7a;
  border-color: #797a7a;
  background-image:none;
}
.navbar .navbar-default{
    padding:10px 0;
    border:none;
}
.navbar .navbar-default .navbar-collapse{
    border:none;
    box-shadow:none;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color:#ffffff;
  background-color: #797a7a;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #9ca3a2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  background-image:none;
  color: #ffffff;
  background-color: #797a7a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #9ca3a2;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #797a7a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #9ca3a2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #9ca3a2;
}
.navbar-default .navbar-toggle {
  border-color: #9ca3a2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9ca3a2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #9ca3a2;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
   background-image:none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #9ca3a2;
    border-color: #337ab7;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-image:none;
    background-color: #797a7a;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #9ca3a2;
  }
}
.navbar-right {
    float: right!important;
    margin-right: 0px;
}
.navbar-lang {
    position: relative;
    display: block;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
}
.navbar-lang a {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-lang a.selected {
    font-weight: bold;
}

/* Landing page CSS */
html.landing-page, body.landing-page {
    height: 100%;
}
.container-landing-header {
    position: relative;
    height:100%;
}
.container-landing-header .image-background {
    min-width: 100%;
    min-height: 100%;
    margin-top: 0px;
}
.container-landing-header .container-lg {
    position: absolute;
    top: 0;
    width: 100%;
}
.container#about {
    position: relative;
    margin-top: 20px;
}
.container-landing-header .panel {
    margin-top: 9%;
    float: right;
    border-radius: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20), 0 6px 3px 0 rgba(0, 0, 0, 0.13)
}
.container-landing-header .panel-right, .panel-page-header {
    background: #fff;
    border: none;
    padding: 0 30px 20px 30px;
    border-top: 1px solid #797a7a;
    border-bottom: 1px solid #797a7a;
    border-radius: 0;
}
.container-landing-header .panel-right {
    margin-right: 100px;
    width: 300px;
    padding: 12px 12px 16px 12px;
    border-top: 4px solid #797a7a;
    border-bottom: 4px solid #797a7a;
}
.container-landing-header .panel-left {
    margin-right: 30px;
    width: 420px;
    padding: 24px 24px 24px 24px;
    background-color: white;    /* fallback for rgba in older browsers */
    background-color: rgba(255, 255, 255, 0.5);
}
.container-landing-header .panel-right .content,
.panel-page-header .content {
    margin-left: 0px;
    background-color: #fff;
    width: 100%;
    border-left: none;
}
.container-landing-header .navbar-lang {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #234f44;
    z-index: 10;
}

.panel-page-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.panel-page-header a {
    margin-top: 10px;
}
.panel-page-header .search-form {
    float: right;
}
.panel-page-header .search-form a, .panel-page-header .search-form button {
    margin-top: 2px;
    margin-left: 10px;
}
.panel-page-header form.upload-form,
.panel-widget form.upload-form {
    width: 320px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.panel-page-header .form-group {
    margin-top: 20px;
}
.panel-page-header .form-group span {
    float: left;
    margin: 12px 10px 0 0;
}
.panel-page-header .form-control {
    width: 300px;
    margin-top: 7px;
}

.container-landing-header .panel-right .btn {
    width: 100%;
    margin-top: 10px;
}
.container-landing-header .panel-right button.btn {
    background-color: #797a7a;
    text-shadow: none;
}
.container-landing-header .panel-right button.btn:hover {
    background-color: #9ca3a2;
}
.container-landing-header .panel-right a.btn {
    background-color: #fff;
    border: 1px solid #797a7a;
    color: #797a7a;
    text-shadow: none;
}
.container-landing-header .panel-right a.btn:hover {
    background-color: #9ca3a2;
    color: #fff;
}
.container-landing-header .logo-login {
    margin: 20px 10%;
    width: 80%;
}
.container-landing-header #username {
    margin-top: 10px;
}
.container-landing-header .alert {
    color: #797a7a;
}
.container-landing-header .alert-error {
    color: #cc0000;
}
.font-sm {
    font-size: 12px;
}
.container-landing-header a.font-sm {
    float: right;
    margin-top: -10px;
}
@media screen and (max-width: 879px) {
    .container-landing-header .panel-left {
        margin-right: 2%;
        width: 42%;
    }
}
@media screen and (max-width: 749px) {
    .container-landing-header .panel-left {
        visibility: hidden;
    }
}

.fieldList{
    list-style-type: none;
    margin-left: -40px;
}

.fieldList li{
    float: left;
    padding-left: 10px;
}


/* container-lg (e.g. main app HTML fragments) CSS */
.container-lg {
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width: 879px) {
    .container-lg {
        width: 95%;
    }
    .container-lg .panel-body {
        padding: 30px 5%;
    }
}
@media screen and (max-width: 767px) {
    .container-lg {
        width: 700px;
    }
    .container-lg .panel-body {
        padding: 30px 30px;
    }
}

/* container-md (e.g. signup.html) CSS */
.container-md {
    width: 720px;
    margin: 0 auto;
}
@media screen and (max-width: 879px) {
    .container-md {
        width: 80%;
    }
    .container-md .panel-body {
        padding: 30px 5%;
    }
}
@media screen and (max-width: 767px) {
    .container-md {
        width: 550px;
    }
    .container-md .panel-body {
        padding: 30px 30px;
    }
}

/* panel-widget CSS */
.panel-widget {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20), 0 6px 3px 0 rgba(0, 0, 0, 0.13);
    border-radius: 0px;
}
.panel-widget .panel-heading {
    background-image: none;
    background-color: #797a7a;
    border-color: #797a7a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px 0 12px 25px;
}
.panel-widget .panel-heading .panel-title {
    font-weight: bold;
    width: auto;
}
.panel-widget .panel-body {
    padding: 20px 30px;
}
.panel-widget .content {
    margin-left: 0;
    background-color: #fff;
    width: 100%;
    border-left: none;
}
.panel-widget .panel-options {
    float: right;
    margin-right: 20px;
    margin-top: -7px;
}
.panel-widget .panel-options a {
    padding: 3px;
    color: #96a9a4;
    font-size: 16px;
    padding-top: 10px;
    text-decoration: none !important;
    margin: 0 3px;
}
.panel-widget .panel-options .panel-options-icon-big i {
    font-size: 25px;
    font-weight: bold;
}
.panel-widget .user-company-logo {
    margin: 10px;
    max-width: 160px;
    max-height: 80px;
}

.panel-alert .panel-heading {
    background-color: #9c2a2a;
    border-color: #9c2a2a;
}


/* Generic CSS; */
body, html {
    /* background: #8999A8; */
    background-image: linear-gradient(rgb(104, 145, 162), rgb(97, 97, 97));
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    min-height: 100%
}

html {
    height: 100%
}

.container {
    overflow-x:hidden;
    overflow-y:hidden;
}
button.btn {
    /*width: 100%;*/
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #797a7a;
    border-color: #9ca3a2;
    text-shadow: none;
}
button.btn:hover {
    background-color: #9ca3a2;
}
a.btn {
    /*width: 100%;*/
    background-color: transparent;
    border: 1px solid #797a7a;
    color: #797a7a;
    text-shadow: none;
}
a.btn:hover {
    background-color: #9ca3a2;
    color: #fff;
}
.alert {
    color: #797a7a;
}
.alert-error {
    color: #cc0000;
}
.font-sm {
    font-size: 12px;
}
a.font-sm {
    float: right;
    margin-top: -10px;
}
.navbar-brand>img {
    display: inline;
    height: 100%;
    margin-top: -3px;
}
.navbar-brand span {
    margin-left: 10px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
}

.panel .panel-body{
    overflow-x: scroll;
    overflow-y: hidden;
}

button.pull-right {
    margin-right: 30px;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #797a7a;
    border-color: #797a7a;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #638f84;
    border-color: #559b89;
}

/* START of Kendo elements CSS overwrite */
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    color: #fff;
    background-color: #797a7a;
    border-color: #797a7a;
}
.k-grid td.k-state-selected:hover, .k-grid tr:hover {
    color: #fff;
    background-color: #9ca3a2;
}

.k-button {
    /*width: 100%;*/
    background-color: #fff;
    border: 1px solid #797a7a;
    color: #797a7a;
    text-shadow: none;

    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.k-button .k-icon {
    margin-top: -1px;
    color: #797a7a;
}
.k-button.k-state-hover, .k-button:hover,
.k-button.k-state-active, .k-button:active,
.k-button.k-state-focused, .k-button.k-state-hover,
.k-button:focus, .k-button:hover, .k-draghandle:hover,
.k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover,
.k-split-button:focus, .k-state-hover, .k-state-hover:hover,
.k-textbox:hover, div.k-filebrowser-dropzone em {
    background-image: none;
    background-color: #9ca3a2;
    color: #fff;
    border: 1px solid #9ca3a2;
}
.k-pager-wrap .k-pager-refresh:hover {
    border: none;
}
.k-autocomplete.k-state-focused, .k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused, .k-numeric-wrap.k-state-focused,
.k-picker-wrap.k-state-focused, .k-button.k-state-focused, .k-button.k-state-hover,
.k-button:focus, .k-button:hover, .k-draghandle:hover, .k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover,
.k-split-button:focus, .k-state-hover, .k-state-hover:hover, .k-textbox:hover, div.k-filebrowser-dropzone em,
.k-autocomplete.k-state-hover, .k-dropdown-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-picker-wrap.k-state-hover {
    background-image: none;
    background-color: #9ca3a2;
}
.k-autocomplete.k-state-focused .k-input, .k-dropdown-wrap.k-state-focused .k-input,
.k-multiselect.k-header.k-state-focused .k-input, .k-numeric-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input {
    /*color: #787878;*/
}
.k-popup .k-list .k-state-focused {
    border-radius: 0;
}

/* START of k-icon custom CSS */
span.k-datepicker span.k-picker-wrap.k-state-focused span.k-i-calendar {
    background-position: -48px -176px;
}
span.k-numerictextbox span.k-numeric-wrap.k-state-hover span.k-i-arrow-n,
span.k-numerictextbox span.k-numeric-wrap.k-state-focused span.k-i-arrow-n {
    background-position: -16px -1px;
}
span.k-numerictextbox span.k-numeric-wrap.k-state-hover span.k-i-arrow-s,
span.k-numerictextbox span.k-numeric-wrap.k-state-focused span.k-i-arrow-s {
    background-position: -16px -36px;
}
span.k-dropdown span.k-dropdown-wrap.k-state-focused span.k-i-arrow-s {
    background-position: -16px -32px;
}
/* END of k-icon custom CSS */

/* START of k-grid custom CSS */
.k-grid {
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}
.k-grid-toolbar {
    padding-bottom: 20px;
}
.k-grid-pager {
    padding-top: 30px;
}
div.k-grid-header {
    border-top: solid 2px #dbdbdb;
    margin-bottom: -1.2em;  /* to hide scrollbar in k-grid-header */
}
div.k-grid-header tr th.k-header {
    overflow: visible;
    white-space: normal;
    background-color: #dbdbdb;
    /*padding-top: .7em;*/
    /*padding-bottom: .6em;*/
    padding-top: .85em;
    padding-bottom: 2em;
}
div.k-grid-header tr th.k-header .k-link {
    /*overflow: visible;
    white-space: normal;*/
}
.k-grid-header-wrap {
    border-color: transparent;
}
#csvGrid .k-grid-header-wrap {
    overflow-x: scroll;
}
.k-grid tr {
    background-color: #fff;
}
.k-grid tr.k-alt {
    background-color: #f9f9f9;
}
.k-grid tr:hover {
    background-color: #f5f5f5;
    color: #787878;
}
.k-grid-header tr th.k-header a {
    font-weight: bold;
}
.k-grid th,
.k-grid tr td {
    border-color: transparent;
    border-top: solid 1px #dbdbdb;
}
.k-grid tr td a.k-button {
    display: block;
    margin: .16em auto;
    padding: 4px 6px;
}
/* END of k-grid custom CSS */

#tabStrip1 ul.tabStripTabs li,
#tabStrip2 ul.tabStripTabs li {
    width: 50%;
    text-align: center;
    border: none;
    background: #f3f3f3;
    margin: 0 0 0 0;
}
#tabStrip1 ul.tabStripTabs li .k-link,
#tabStrip2 ul.tabStripTabs li .k-link {
    width: 100%;
    color: #bbbbbb;
    padding-top: 1.05em;
    padding-bottom: 0.8em;
}
#tabStrip1 ul.tabStripTabs li.k-state-hover,
#tabStrip2 ul.tabStripTabs li.k-state-hover {
    background: #eaeaea;
}
#tabStrip1 ul.tabStripTabs li.k-state-hover .k-link,
#tabStrip2 ul.tabStripTabs li.k-state-hover .k-link {
    color: #666666;
}
#tabStrip1 ul.tabStripTabs li.k-state-active,
#tabStrip2 ul.tabStripTabs li.k-state-active {
    background: #ffffff;
}
#tabStrip1 ul.tabStripTabs li.k-state-active .k-link,
#tabStrip2 ul.tabStripTabs li.k-state-active .k-link {
    color: inherit;
}
#tabStrip1 .k-content,
#tabStrip2 .k-content {
    border: none;
    border-top: 1px solid #f3f3f3;
}
/* END of Kendo elements CSS overwrite */


/* START of Dashboard CSS */
.speedometer-view{
    float: left;
}

.speedometer-value{
    float: left;
}

.speedometer-group {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.speedometer-child {
    width: 18%;
    margin: 0 1%;
    float: left;
}
.speedometer-child .speedometer-view>div,
.speedometer-child .speedometer-value,
.speedometer-child .speedometer-label {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.speedometer-child .speedometer-value {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 5px;
}
@media screen and (max-width: 1023px) {
    .speedometer-child {
        width: 29%;
        margin: 0 2%;
        float: left;
    }
}

.color-band {
    margin-top: -20px;
}

.infoBox-group {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.infoBox-child {
    background-color: #eeeeee;
    width: 47%;
    margin: 20px 1% 20px 2%;
    float: left;
}
.infoBox-child-content {
    padding: 25px 30px 15px 30px;
}
.infoBox-child-content-heading {
    font-weight: bold;
    text-decoration: underline;
}

.saParameter-group {
    width: 100%;
    height: 170px;
    margin: auto;
}
.saParameter-child {
    width: 45%;
    margin: 30px 1% 20px 4%;
    float: left;
}
.saParameter-child-content {
    padding: 0;
}
.saParameter-child-content-label {
    margin-bottom: 10px;
}
.saParameter-child-content-view input {

}
@media screen and (max-width: 1023px) {
    .saParameter-child-content-view input {

    }
    .saParameter-group {
        height: 280px;
    }
    .saParameter-child {
        width: 95%;
        margin: 20px 1% 10px 4%;
    }
}

#sensitivityAnaysis .k-tabstrip>.k-content {
    padding: 0;
}
#sensitivityAnaysis .content {
    padding-top: 10px;
    padding-bottom: 15px;
}
#sensitivityAnaysis hr {
    margin-top: 15px;
    margin-bottom: 20px;
}
#sensitivityAnaysis .k-grid-content {
    padding-bottom: 50px;
}
#sensitivityAnaysis .k-i-calendar {

}
/* END of Dashboard CSS */


/* START of Signup page CSS */
#form-signup label {
    margin-top: 10px;
}
/* END of Signup page CSS */

/* START of tooltip CSS */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -125px;
  padding: 10px;
  width: 180px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* END of tooltip CSS */


/* START of Footer CSS */
footer{
	position: fixed;
	bottom: 0;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
.footer-basic-centered{
	/* background-color: #292c2f; */
	background-color: #234f44;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;

	padding: 35px;
	margin-top: 60px;
}
.footer-basic-centered .footer-company-motto{
	color:  #fff;
	font-size: 24px;
	margin: 0;
}
.footer-basic-centered .footer-company-name{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}
.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 10px 0 23px;
	margin: 0;
}
.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {
	.footer-basic-centered{
		padding: 35px;
	}
	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}
	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}
	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}
	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

/*
    Use the DejaVu Sans font for display and embedding in the PDF file.
    The standard PDF fonts have no support for Unicode characters.
*/
/* END of Footer CSS */

/*kendo pdf export css*/
.page-template > * {
    position: absolute;
    left: 20px;
    right: 20px;
    font-size: 90%;
}
.page-template .header {
    top: 20px;
    border-bottom: 1px solid #000;
    font-size: 20px;
}
.page-template .footer {
    bottom: 20px;
    border-top: 1px solid #000;
}

.page-template .namePosition {
    top: 60px;
}

.report-logo {
    height: 18px;
    width: 18px;
}

/* START of page loading overlay */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* END of page loading overlay */

